<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fraunhofer.detail">

    <application android:networkSecurityConfig="@xml/network_security_config">
        <activity android:name=".DetailActivity"
            android:parentActivityName="com.example.fraunhofer.main.MainActivity"
            android:label="Fraunhofer IEM">
            <intent-filter
                android:autoVerify="true"
                android:order="2">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:host="example.com" />
                <data android:pathPrefix="/detail" />
                <data android:scheme="https" />
                <data android:scheme="http" />

                <data
                    android:host="example.com"
                    android:pathPrefix="/1"
                    android:scheme="https" />
                <data
                    android:host="example.com"
                    android:pathPrefix="/2"
                    android:scheme="https" />

                <data
                    android:host="example.com"
                    android:pathPrefix="/3"
                    android:scheme="https" />
            </intent-filter>

        </activity>
    </application>

</manifest>